html {
  font-family: sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-top: 6px;
  font-size: 20px;
  font-weight: lighter;
}

a {
  text-decoration:none;
}

p {
  font-size: 16px;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  color: #3D4758;
  font-family: europa, sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 15px;
  margin: 0;
  opacity: 0.7;
  font-weight: lighter;
}

header {
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  opacity: 0.98;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-top: 50px;
  height: 80px;
}

.summary {
  min-width: 420px;
  max-width: 420px;
  white-space: normal;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.headerButton {
  transition: 0.2s;
  font-weight: lighter;
  margin-right: 30px;
}

.headerButton:hover {
  color: #77AEF9;
}

.hider {
  transition-timing-function: ease-in;
  white-space: nowrap;
  width: 0%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.headerButtonActive {
  color: #77AEF9;
}

.footerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #F8F9FB;
}

.footerContent {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.paddingWrap {
  width: calc(100vw - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
